* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif ;
}

body {
    background-color: #1d2a35 !important; 

    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.header {
    height: 100px;
    width: 100%;
    position: relative;     

    text-align: center;
    display: flex;
    flex-direction: row;
    
}


.header-navegacao {
    height: 100px;
    width: 100%;
    background-color: #B0E0E6; 
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.header-img {
    width: 55px;
    height: 55px;
    margin-right: 120px;
    
}

.header-btn{
    background-color: #b3ff00; 
    border: none;
    color: rgb(43, 43, 43);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.header-btn:hover {
    background-color: #91bb59; 
    box-shadow: 0 0 0 2px #fff ;
}

.gambiarra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.section {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 100px;  
    
}

.section-btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 70%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto ;
    margin-bottom: 20px;
    padding: 7px;
    background: #B0E0E6;
    

}

strong {
    font-size: 20px;
    color: #1d2a35;
}

.section-btn button {
    border: none;
    padding: 7px;
    background-color: #d6d6d6;
    cursor: pointer;
}

.section-btn button:hover {
    box-sizing: content-box;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    background-color: #b9cfcc;
}


.container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;
}

.container-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    padding: 10px 10px 0 10px;
    border-radius: 2px;
    border-bottom: 2px #00ffb3 solid;
    border-left: 2px #00ffb3 solid;
    color: #000;
    background: #B0E0E6;
    list-style: none; 
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    height: auto;

}

.container-imagem-lista {
    width: 100px;
    height: 100px;
}

.container-list-p {
    margin-top: 10px;
}

#nomeDentista{
    text-transform: capitalize;
    
}

#telefoneDentista {

}

#emailDentista { 

}

#user_name {

}

#dataConsulta {

}

.btn {

}